body {
    max-width: 1600px;
}

p {
    color: pink;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    body {
        border: 5px dotted orange;
    }
}

@media only screen and (min-width: 450px) {
    body {
        font-size: 24px;
        background-color: grey;
        color: lightcoral;
    }
}

@media only screen and (min-width: 450px) {
    p, ol, {
        font-size: 16px;
        background-color: #C587FD;
    }
}

body {
    background-image: url(https://flavorwire.files.wordpress.com/2014/02/synecdoche1.jpg?w=1920);
}